@import "tailwindcss"; 

.jalanrusak {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ini kunci agar gambar tidak gepeng */
  object-position: center; /* Memastikan bagian tengah gambar yang jadi fokus */
}